.example-spacer {
  flex: 1 1 auto;
}
.example-icon {
  padding: 0 24px;
  color: white;
}
.ant-menu {
  height: 735px;
}
.divCollapse {
  display: inline-block;
  width: 240px;
}
.divNotCollapse {
  display: inline-block;
  width: 80px;
}
